@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  width: 460px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 5%;
  background-color: rgba(245, 245, 245, 0.0);
}

body {
  background-color: #f9fafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.social-padding {
  padding-left: 2%;
}
.card {
  border: 2px solid #343a40;
  box-shadow: 5px 6px 0px #343a40;
  transition: 0.3s all;
  border-radius: 3px;
  background-color: #fff;
  padding: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 340px;
  max-width: 95%;

  .avatar {
    img {
      border-radius: 50%;
      border: 4px solid #343a40;
    }
  }
  .headline {
    font-size: 16px;
    margin-top: 15px;
    color: #343a40;
  }
  .title {
    font-size: 26px;
    margin-top: 18px;
    color: #343a40;
  }

  .description {
    font-size: 17px;
    margin-top: 18px;
    color: #64707d;
  }

  .social {
    ul {
      margin-top: 22px;
      list-style-type: none;
      li {
        display: inline;
        font-size: 22px;
        cursor: pointer;
        color:#343a40;
      }
    }
  }
  .file-upload {
    display: none;
  }
  .p-image {
    position: absolute;
    top: 18%;
    left: 48%;
    color: black;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  #upload-unsuccessful {
    margin-top: 4%;
  }
  #imagesizelimit {
    margin-top: 4%;
  }
  .errormsg-pic {
    margin-top: 4%;
  }
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }
}
