<div class="container">
  <div class="card">
  <div class="avatar">
    <img id="userImageStyle" src="{{this.profileurl}}" (error)="onImgError()" style="width: 150px;height: 150px;" (mouseover)="uploadImage()" (mouseout)="removeThumbnailImage()" (click)="fileUpload()">
    <div class="p-image" id="user-image" style="display: none;">
      <i class="fa fa-camera upload-button"></i>
       <input class="file-upload" style="cursor: pointer;" type="file" accept="image/*" (change)="handleInputChange($event)"/>
    </div>
  </div>

  <!-- <div *ngIf="!uploadSuccess">
    <p id="upload-unsuccessful" style="color:red">Picture Upload Unsuccessful</p>
  </div> -->
  <div *ngIf="uploadSuccess">
    <p class="errormsg-pic" style="color:green">Upload Successful {{percentDone}}%</p>
  </div>
  <p id="imagesizelimit" style="color:red;display: none;">Image size limit - 1Mb</p>

  <div class="title">
    <h2>{{this.name}}</h2>
  </div>
  <div class="headline">
    <h5>{{this.headline}}</h5>
  </div>
  <div class="description">
    {{this.userbio}}
  </div>
  <div class="social">
    <ul>
      <li><a href="{{this.website}}" target="_blank"><i class="fa fa-globe social-padding"></i></a></li>
      <li><a href="{{this.youtube}}" target="_blank"><i class="fa fa-youtube social-padding"></i></a></li>
      <li><a href="{{this.facebook}}" target="_blank"><i class="fa fa-facebook social-padding"></i></a></li>
      <li><a href="{{this.github}}" target="_blank"><i class="fa fa-github social-padding"></i></a></li>
      <li><a href="{{this.twitter}}" target="_blank"><i class="fa fa-twitter social-padding"></i></a></li>
    </ul>
  </div>
 </div>
</div>