<div class="container-fluid p-0 h-100">
  <div class="d-flex flex-column h-100">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="content">
      <div class="row" style="height: 100%;">
        <div class="col-lg-4 col-md-12 order-md-2 order-lg-1"  style="overflow: hidden;margin-top:4%"> 
          <app-profile></app-profile>
        </div>
        <div class="col-lg-8 col-md-12 order-md-2 order-lg-1 p-0 datagrid"  style="overflow: hidden; margin-top:2%"> 
           <!-- Content  -->
           <div class="card-body" style="padding: 6% 4%;">
              <div class="row">
                <h4 style="width: 100%;text-align: center;">Profiles</h4>
                <p style="width: 100%;text-align: center;">Welcome! Please update your profile.</p>
              </div>
              <div class="row">
                <form>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" [(ngModel)]='name' class="form-control" id="userName"
                      aria-describedby="userName" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label for="headline">Headline</label>
                    <input name="headline" [(ngModel)]='headline' class="form-control" id="userHeadline"
                      aria-describedby="userHeadline" placeholder="Enter profile headline">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input name="phone" [(ngModel)]='phone' class="form-control" id="userPhone"
                      aria-describedby="userPhone" placeholder="Enter phone">
                  </div>
                  <div class="form-group">
                    <label for="userDob">Dob</label>
                    <input name="userDob" type="date" [(ngModel)]='dob' class="form-control" id="userDob"
                      aria-describedby="userDob" placeholder="Enter dob">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input name="website" [(ngModel)]='website' class="form-control" id="website"
                      aria-describedby="userDob" (change)="validateUrl(website, 'website')" placeholder="Enter your website">
                  </div>
                  <div class="form-group">
                    <label for="youtube">Youtube</label>
                    <input name="youtube" [(ngModel)]='youtube' class="form-control" id="youtube"
                      aria-describedby="youtube" (change)="validateUrl(youtube, 'youtube')" placeholder="Enter youtube url">
                  </div>
                  <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input name="facebook" [(ngModel)]='facebook' class="form-control" id="facebook"
                      aria-describedby="facebook" (change)="validateUrl(facebook, 'facebook')" placeholder="Enter facebook url">
                  </div>
                  <div class="form-group">
                    <label for="github">Github</label>
                    <input name="github" [(ngModel)]='github' class="form-control" id="github"
                      aria-describedby="userDob" (change)="validateUrl(github, 'github')" placeholder="Enter github url">
                  </div>
                  <div class="form-group">
                    <label for="twitter">Twitter</label>
                    <input name="twitter" [(ngModel)]='twitter' class="form-control" id="twitter"
                      aria-describedby="twitter" (change)="validateUrl(twitter, 'twitter')" placeholder="Enter twitter url">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea class="form-control" [(ngModel)]='userbio' name="userbio" rows="5" id="userbio" placeholder="Enter bio"></textarea>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small> 
                    <small id="errmsg" class="form-text" style="display: none;">All field's should be filed</small> 
                    <small id="errmsg-validate-url" class="form-text" style="display: none;">All the url must starts with https://</small> 
                    <small id="successmsg" class="form-text" style="display: none;">Profile updated succesfully!</small> 
                  </div>
                  <button type="submit" (click)="updateProfile()" id="button" class="btn btn-primary button">Submit</button>
                </form>
              </div>
            </div>
           <!-- Content -->
        </div>
      </div>
    </div>
  </div>
</div>