.container-fluid{
    background-color: #f1f5f8;
    height: -webkit-fill-available;
    padding: 2%;
}
.card{
    background-color: white;
}
form{
    width: 100%;
}
.card-body{
    margin: 0 auto;
    width: 50rem;
    font-family: Niramit;
}
.button{
    width: 100% !important;
    background: #343a40 !important;
    border: 1px solid #343a40 !important;
    outline: none;
    border-radius: 10px;
    font-family: Niramit;
}
.fp{
    color: #144779;
    text-decoration: none; 
    float: right;      
    font-family: Niramit;
    cursor: pointer;
}
.reg{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

#errmsg{
    color: #c30000;
}
#errmsg1{
    color: #c30000;
}
#errmsg-validate-url {
    color: #c30000;
}
#successmsg {
  color: green;
}
.btn-secondary{
    color: black !important;
    background-color: white !important;
    border-color: #ced4da;
    width: 100%;
}
select{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 2%;
    text-align: center;
    margin: 2% auto;
}
.card-header{
    background: white !important;
    border-bottom: 0 !important;
}
.back{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.modal-dialog{
    max-width: 100%;
    margin: 1.75rem;
    min-width: 96.9%;
}
.modal-body{
    padding: 0;
}

input{
    border: 1px solid #ced4da !important;
    background: whitesmoke !important;
    color: #495057 !important;
}