<div class="container-fluid p-0 h-100">
  <div class="d-flex flex-column h-100">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="content">
      <div class="row" style="height: 100%;">
        <div class="col-lg-3 col-md-12 order-md-1 order-lg-1 p-0 datagrid"  style="overflow: hidden;"> 
            <!-- <app-datatable></app-datatable> -->
            <app-profile></app-profile>
        </div>
        <div class="col-lg-4 col-md-12 order-md-2 order-lg-2 p-0 datagrid"  style="overflow: hidden;"> 
          <app-user-walls></app-user-walls>
        </div>

        <div class="col-lg-5 col-md-12 order-md-2 order-lg-3 p-0">
          <app-list-profiles></app-list-profiles>
        </div>
      </div>
    </div>
  </div>
</div>