<nav
  class="navbar fixed-top navbar-expand-md navbar-dark bg-dark navcolor shadow-sm border-bottom"
>
  <a class="navbar-brand" style="cursor: pointer;" (click)="navigate()">Codeztech Social</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation ">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a
          class="nav-link mr-2"
          routerLink="/app/dashboard"
          routerLinkActive="active">Dashboard
        </a>
      </li>
    </ul>
    <ul id="menu">
      <li>
        <input id="check02" type="checkbox" name="menu"/>
        <label *ngIf="this.currentUser" for="check02">{{currentUser.email}}</label>
        <ul class="submenu">
          <li><a *ngIf="this.currentUser.name" style="cursor:pointer" routerLink="/app/dashboard/profile">profile</a></li>
          <li><a (click)="logout()" style="cursor: pointer;">logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
