.navbar-nav > li {
    float: left;
    position: relative;
  }
  .active {
    border-bottom: 3px solid #d26f22;
  }
//   .dropdown-menu {
//     width: auto;
//     top: 100%;
//     z-index: 300;
//     min-width: unset;
//     max-width: 500px;
//     margin-top: 4px;
//     margin-bottom: 24px;
//     font-size: 14px;
//     font-weight: 400;
//     padding: 8px 0;
//     background-color: #fff;
//     border: 1px solid #e5e5e5;
//     border-radius: 3px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
//     text-align: left;
//     left: auto;
//   }
  
  .navbar {
    color: white !important;
  }
  

  /*General styles for body*/
body{
    margin:0;
    padding:3em 0;
    font-family:Helvetica, Arial, sans-serif;
    background:#eee;
    color:#222;
  }
  
  
  /*Style for the first level menu bar*/
  ul#menu{
    position:fixed;
    top:0;
    height:3em;
    margin:0;
    padding:0 10px;
    color:#eee;
    position: initial;
 }
  
  ul#menu > li{
    float:left;
    list-style-type:none;
    position:relative;
  }
  
  label{
    position:relative;
    display:block;
    padding:0 18px 0 12px;
    line-height:3em;
    transition:background 0.3s;
    cursor:pointer;
  }
  
  label:after{
    content:"";
    position:absolute;
    display:block;
    top:50%;
    right:5px;
    width:0;
    height:0;
    border-top:4px solid rgba(255,255,255,.5);
    border-bottom:0 solid rgba(255,255,255,.5);
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    transition:border-bottom .1s, border-top .1s .1s;
    }
  
  label:hover,
  input:checked ~ label{background:rgba(0,0,0,.3);}
  
  input:checked ~ label:after{
    border-top:0 solid rgba(255,255,255,.5);
    border-bottom:4px solid rgba(255,255,255,.5);
    transition:border-top .1s, border-bottom .1s .1s;
  }
  
  /*hide the inputs*/
  input{display:none}
  
  /*show the second levele menu of the selected voice*/
  input:checked ~ ul.submenu{
    max-height:300px;
    transition:max-height 0.5s ease-in;
  }
  
  /*style for the second level menu*/
  ul.submenu{
    max-height:0;
    padding:0;
    overflow:hidden;
    list-style-type:none;
    background:#444;
    box-shadow:0 0 1px rgba(0,0,0,.3);
    transition:max-height 0.5s ease-out;
    position:absolute;
    min-width:100%;
  }
  
  ul.submenu li a{
    display:block;
    padding:12px;
    color:#ddd;
    text-decoration:none;
    box-shadow:0 -1px rgba(0,0,0,.5) inset;
    transition:background .3s;
    white-space:nowrap;
  }
  
  ul.submenu li a:hover{
    background:rgba(0,0,0,.3);
  }