<div class="container-fluid login">
	<div class="login">
		<div class="card">
			<div class="card-body">
				<div class="row" style="height: 100%;">
            <div class="col bg">
               <h1 class="name">Codeztech Social</h1>
            </div>
            <div class="col-3 abs">
            <div class="container" class="content1">
				<div class="row">
					<i class="fa fa-arrow-circle-o-left"></i> 
				</div>
              <div class="row">
                <h4 class="cent">Log in</h4>
							</div>
              <div class="row">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <!-- <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"> -->
					<input style="width: 300px;" name="email" type="email" class="form-control" id="exampleInputEmail1" [ngModel]="email" (ngModelChange)="checkm($event)"
					aria-describedby="emailHelp" placeholder="Enter email">
					<small id="mailvalid" class="form-text" style="display: none;">Email is Valid one.</small>
                    <small id="mailerr" class="form-text" style="display: none;">Email is Invalid one.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <!-- <input name="password" type="password" class="form-control"	id="exampleInputPassword1" placeholder="Password"> -->
					<input style="width: 300px;" name="password" [ngModel]="password" (ngModelChange)="checkpw($event)" type="password" class="form-control"
					id="exampleInputPassword1" placeholder="Password">
					<small id="emailHelp" class="form-text text-muted" style="color: white !important;;">We'll never share your credentials with anyone else.</small>
					<small id="pwvalid" class="form-text" style="display: none;">Password length is Good.</small>
                    <small id="pwerr" class="form-text" style="display: none;">Password must contain more than 6 characters.</small>
					</div>

					<br />
                  <div class="row">
                    <p id="msg">All field's should be filed</p>
                    <p id="EmailPassErr">Email id and password does not match with our database</p>
				</div>
				  <button type="submit"  (click)="login()" id="button" class="btn btn-primary button">Log In</button>
                </form>
              </div>
              <div class="row" id="foot">
				<button  [routerLink]="['/registration']"class="btn btn-primary button">Register</button>
              </div>
            </div>
            </div>
        </div>
			</div>
		</div>
	</div>
	<!-- Forgot password modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
	 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="card">
						<div class="card-header">
							<button type="button" class="close back" data-dismiss="modal" aria-label="Close" style="float: left;">
								<i class="fas fa-long-arrow-alt-left" style="color: #144779;font-size: 22px;"></i>
							</button>
						</div>
						<div class="card-body" style="padding: 10% 4%;">
							<div class="container">
								<div class="row">
									<form>
										<div class="form-group">
											<label for="exampleInputEmail1">Email address</label>
											<!-- <input name="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="email"> -->
											<input name="email" type="email" class="form-control" id="exampleInputEmail" [ngModel]="email"
											(ngModelChange)="checkm1($event)" aria-describedby="emailHelp" placeholder="Enter email">
											<small id="mailvalid1" class="form-text" style="display: none;">Email is Valid one.</small>
											<small id="mailerr1" class="form-text" style="display: none;">Email is Invalid one.</small>
										</div>
										<div class="row">
											<p id="msg1">Please fill Valid Mail.</p>
											<p id="forgotEmailPassErr">Email id and password does not match with our database</p>
											<p id="EmailSend">Reset password link send to your email id</p>
										</div>
										<button type="submit" id="button1" class="btn btn-primary button">Request Password</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Forgot password ends -->

	

</div>

