.fa-long-arrow-alt-left{
    color: #144779;
    font-size: 22px;
}
img{
    filter: brightness(90%);
    width: 100%;
    height: 100%;
}
.cent{
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 10px black;
}

select[_ngcontent-c3] {
    width: 115%;
    border: 1px solid #ced4da;
    border-radius: 0.20rem;
    padding: 2.4%;
    text-align: center;
    margin: 2% auto;
}
#foot{
    margin-top: 6%;
    float: right;
}

.container-fluid {
    background-color: #f1f5f8;
    height: 100vh;
    overflow: hidden;
    padding: 0 ;
    // width: 100% !important;
}

.card{
    background-color: white;
    height: 100%;
}
form{
    width: 100%;
}
.card-body{
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.button{
    width: 100% !important;
    background: transparent !important;
    border: 1px solid white !important;
    outline: none;
    border-radius: 0;
    font-weight: 300;
    text-shadow: 0 0 10px black;
}
.fp{
    color: #144779;
    text-decoration: none; 
    cursor: pointer;
    color: white !important;
    text-shadow: 0 0 10px black;
    font-weight: 300;
}
.reg{
    text-decoration: none;
    font-weight: 600;
    color: white !important;
    text-shadow: 0 0 10px black;
    letter-spacing: 1px;
}
#mailerr, #mailerr1{
    color: #c30000;
}
#mailvalid, #mailvalid{
    color: green;
}
#pwerr{
    color: #c30000;
}
#pwvalid, #pwvalid2{
    color: green;
}
#msg, #msg1{
    color: #c30000;
    display: none;
    margin: 0 auto;
    margin-bottom: 1%;
}
.btn-secondary{
    color: black !important;
    background-color: white !important;
    border-color: #ced4da;
    width: 100%;
}
select{
    width: 115%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 2.4%;
    text-align: center;
    margin: 2% auto;
}
.card-header{
    background: white !important;
    border-bottom: 0 !important;
}
.back{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.modal-dialog{
    max-width: 100%;
    margin: 1.75rem;
    min-width: 96.9%;
}
.modal-body{
    padding: 0;
}
#EmailPassErr {
  color: red;
  display: none;
  margin-left: 10%;
  margin-right: auto;
}
#forgotEmailPassErr {
  color: red;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
#EmailSend {
  color: green;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
input{
    border: 1px solid #ced4da !important;
    background: whitesmoke !important;
    color: #2c2d2d !important;
    border-radius: 0;
    box-shadow: 0 0 1px black;
}
.login{
    height: 100%;
}
.content1{
    margin-top: 50%;
    padding: 0 10%;
}
.pd0{
    padding: 0;
}
.bg{
    padding: 0;
    background-image: url('/assets/images/dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    position: absolute;
    bottom: 5%;
    color: white;
    text-shadow: 0 0 10px black;
    left: 60%;
    padding: 1% 2%;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: -webkit-xxx-large;
}
.form-control:focus, .btn-primary:focus, .btn-primary.focus{
    box-shadow: none;
}
.abs{
    position: absolute;
    z-index: 2;
    left: 6%;
}
label{
    font-weight: 300;
    text-shadow: 0 0 10px black;
    color: white;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: whitesmoke;
}