 <div class="row footer-search">
  <div class="col-lg-12">
      
<!-- <div class="row" style="padding: 1% 1%;">
  <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="input-group">
        <input  style="height: 6.4vh !important;" type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        <div class="input-group-btn">
          <button class="btn btn-primary footer-search" type="submit">
            <span> search</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div> -->
        </div>
</div>

<div class="row footer-row">
 
 
 
 
</div> 


<!-- <div class="row">
  <div class="footer">
    <div class="Subscribe-to-newslet">
      <p>SUBSCRIBE TO NEWSLET</p>
    </div>
    <div class="Sign-up-for-exclusiv ">Sign up for exclusive updates, New arrivals and insider only discount</div>
   <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-4" style="padding: 1% 1%;">
    <div class="footer-search">
        <button class="search-button" mat-raised-button color="accent" type="submit" style="float: right;">search</button>
    </div>
  </div>
    <div class="col-lg-4"></div>
  </div>
  </div>
   <div class="row">
      <div class="col-lg-3">
        <div>
          <span class="Company-name">Company Name</span>
          <p>DATANOW SOLUTIONS</p>
        </div>
      </div>
      <div class="col-lg-3 ">
        <div>
          <span class="footer-content">QUICK LINK</span>
          <br>
          <span>Careers</span>
          <br>
          <span>About Us</span>
          <br>
          <span>Contact Us</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div >
          <span class="footer-content">SUPPORT</span>
          <br>
          <span>Security</span>
          <br>
          <span>Privacy policy</span>
          <br>
          <span>Terms of service</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <span class="footer-content">GET IN TOUCH</span>
          <br>
          <i class="fab fa-facebook icon"></i>
          <i class="fab fa-google-plus-square icon"></i>
          <i class="fab fa-twitter-square icon"></i>
        </div>
      </div>
 </div> 
</div>-->