.footer-row {
  padding-left: 10%;
  padding-top: 9%;
  background-color: rgb(46, 48, 58);
    /* color: rgba(255, 255, 255, 0.582); */
}

.padding {
  padding: 2px 2px;
  font-family: lato;
  font-size: 14px;
}

/* .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  } */

.footer-content {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.footer {
  font-family: lato;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: red;
  padding: 2% 2%;
}

/* .footer-search{
    background-color: #000033;
   
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    font-family: lato;
    font-size: 19px;
    color: white;
  } */

/* .footer-search{
    color: #fff;
    background-color: #000033;
    border-color: #ddd;
  }
  h2{
    font-size: 19px;
  }
  .text
  {
    font-size: 17px;
  } */

.footer {
  width: 1280px;
  height: auto;
  background-color: #f55a88;
}

.Subscribe-to-newslet {
  padding: 2% 2%;
  height: 40px;
  font-family: lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 1.7px;
  text-align: center;
  color: #ffffff;
}

.Sign-up-for-exclusiv {
  padding: 12px 12px;
  opacity: 0.67;
  font-family: lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}

/* .footer-search {
  height: 35px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  background-color: royalblue;
    color: white;
} */

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.Company-name {
width:100%;
  font-family: lato;
  font-size: 18px;
  color: #f55a88;
  font-weight: bold;
}
.fab{
  letter-spacing: 16px;
  font-size: 27px;
}