// toggle css


.onoffswitch {
    position: relative; width: 82px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "USER";
    padding-left: 12px;
    background-color: #990000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "AGENT";
    padding-right: 12px;
    background-color: #EEEEEE; color: crimson;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: -3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 58px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
// toggle css

.bg{
    padding: 0;
    background-image: url('/assets/images/dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.register{
    // background: -webkit-linear-gradient(left, #3931af, #ffff);
    margin-top: 0%;
    padding: 3%;
    padding-top: 5%;
}
.register-left{
    text-align: center;
    color: #fff;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: crimson;
    font-weight: bold;
    color: white;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-left input:active,.register-left input:focus{
    outline-style: none; 
}
.register-right{
    background: transparent;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 0%;
    width: 75%;
    // -webkit-animation: mover 2s infinite  alternate;
    // animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}


.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: crimson;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.btnRegister:active,.btnRegister:focus{
    outline-style: none; 
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    //background: crimson;
    // border-radius: 1.5rem;
    // width: 22%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    // height: 34px;
    font-weight: 600;
    color: #fff;
    // border-top-right-radius: 1.5rem;
    // border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    background: white;
    border: 2px solid crimson;
    // border-top-left-radius: 1.5rem;
    // border-bottom-left-radius: 1.5rem;
    color: black;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: crimson;
    text-shadow: 1px 1px whitesmoke;
}
.fa-arrow-circle-o-left:before {
    content: "\f190";
    color: crimson;
}
#cpwvalid,#pwvalid,#mailvalid,#phonevalid,#agentNameValid, #countryValid, #stateValid, #dateValid, #dateValidHappyBirthday{
    color: greenyellow;
}
#cpwerr,#pwerr,#mailerr,#phoneerr, #agentNameErr, #countryInvalid, #stateInvalid, #dateInvalid, #date18plus{
    color: aliceblue;
}
#filled{
    color: aliceblue;
    font-size: 1.2rem;
    margin-left: -56%;
}
#EmailPassErr{
    color: aliceblue;
    font-size: 1.2rem;
    margin-left: -56%;
}
.form-text {
    margin-top: 0.45rem;
}