<div class="col bg">
  <div class="container register">

    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://test-live-projects.s3.ap-south-1.amazonaws.com/CodezTech.png" alt="" />

        <h3>Welcome</h3>

        <!-- <p>You are 30 seconds away from earning your own money!</p> -->
        <input type="submit" name="" (click)="loginfun()" value="Login" /><br />
      </div>
      
      <div class="col-md-9 register-right">
          <div class="onoffswitch" style="margin-left: 76%">
              <input type="checkbox" name="onoffswitch" [(ngModel)]="isChecked" class="onoffswitch-checkbox" id="myonoffswitch" disabled>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">
              <a href="/">
                <i class="fa fa-arrow-circle-o-left"></i>
              </a>
              Join us</h3>
            <form>
              <div class="row register-form" *ngIf="this.isChecked==true">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="textAgentName" [ngModel]="userName"
                      (ngModelChange)="checkAgentName($event)" placeholder="Name *">
                    <small id="agentNameValid" class="form-text" style="display: none;">Hey {{this.userName}}, nice to meet you</small>
                    <small id="agentNameErr" class="form-text" style="display: none;">Name can't be blank</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="date" type="date" class="form-control" [ngModel]="userDateofBirth"
                    (ngModelChange)="dateCheckEvent($event)" placeholder="Dob *">
                    <small id="dateValid" class="form-text" style="display: none;">Date of birth is valid one.</small>
                    <small id="dateValidHappyBirthday" class="form-text" style="display: none;">Happy birthday, {{this.userName}}</small>
                    <small id="dateInvalid" class="form-text" style="display: none;">date of birth can't be in future! </small>
                    <small id="date18plus" class="form-text" style="display: none;">User must have 18+ years</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" [ngModel]="mail"
                      (ngModelChange)="checkm($event)" placeholder="Enter email *">
                    <small id="mailvalid" class="form-text" style="display: none;">Email is Valid one.</small>
                    <small id="mailerr" class="form-text" style="display: none;">Email is Invalid one.</small>
                  </div>
                  <div class="form-group">
                    <input name="password" [ngModel]="password" (ngModelChange)="checkpw($event)" type="password" class="form-control"
                      id="exampleInputPassword1" placeholder="Password *">
                    <small id="pwvalid" class="form-text" style="display: none;">Password length is Good.</small>
                    <small id="pwerr" class="form-text" style="display: none;">Password must contain more than 6
                      characters.</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="number" type="number" name="phone" [ngModel]="phone" (ngModelChange)="checkphone($event)"
                      minlength="0" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *"
                      value="" />
                    <small id="phonevalid" class="form-text" style="display: none;">Phonenumber is valid one.</small>
                    <small id="phoneerr" class="form-text" style="display: none;">Phonenumber is Invalid one.</small>
                  </div>
                  <div class="form-group">
                    <input name="confirmpassword" type="password" id="confpwd" class="form-control" [ngModel]="ncpassword"
                      (ngModelChange)="checkcpw($event)" placeholder="Confirm Password *" />
                    <small id="cpwvalid" class="form-text" style="display: none;">Password matching.</small>
                    <small id="cpwerr" class="form-text" style="display: none;">Password not matching.</small>
                  </div>
                     <input type="submit" id="button" class="btnRegister" (click)="register()" value="Register" />
                     <small id="filled" class="form-text" style="margin-top: .45rem;display: none;;">Please fill all fields</small>
                     <small id="EmailPassErr" style="margin-top: .45rem;display: none;">Please login, email id already exists</small>
                  </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
