<div class="container sticky-top">
  <div class="module post-feed" *ngFor="let item of this.listsUser;">
    <div class="circle">
      <img class="circle" src="{{item.profileurl}}" (error)="onImgError()">
    </div>
    <div class="line-wrapper">
      <div style="font-size:16px"><b>{{item.name}}</b></div>
      <div style="font-size:12px">{{item.headline}}</div>
    </div>
    <div class="height20"></div>
    <div class="manageparagraph" style="-webkit-box-orient: vertical !important;">{{item.userbio}}</div>
    <!-- <div class="line width470"></div> -->
  </div>
</div>