* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .same-line-text {
    display:inline;
  }
  body {
    background-color: #eee;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
      Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Lucida Grande, Helvetica, Arial, sans-serif;
  }
  
  .container {
    background-color: white;
    width: 460px;
    margin: 10px 12px; //auto
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    margin-top: 4%;
  }
  .textarea-post-article {  
    overflow: hidden;
    padding: 5px;
    width: 90%;
    font-size: 14px;
    margin: 20px 20px;
    display: block;
    border-radius: 5px;
    border: 1px solid #556677;
    height: 120px;
  }
  .textarea-comments {
    resize: none;
    height: 80px;
    margin-top: 4%;
    resize: none !important;
    padding-left: 3%;
    padding-top: 3%;
  }
  .textarea-main-comments {
    resize: none;
    height: 80px;
    resize: none !important;
    padding-left: 3%;
    padding-top: 3%;
    width: 100%;
    position: relative;
  }
  .post-headline-comments {
    position: absolute;
    bottom: 24%;
    right: 6%;
    padding: 4px 10px;
    border: 1px solid;
  }
  .post-headline-comments-message {
    float: left;
    margin: 0px 7px 3px 0px;
    color: green !important;
    font-weight: bold;
    padding: 10px 0;
    display: none;
  }
  .post-headline-comments-error-message {
    float: left;
    margin: 0px 7px 3px 0px;
    color: red !important;
    font-weight: bold;
    padding: 10px 0;
    display: none;
  }
  .post-comments {
    margin-left: 10%;
    padding: 4px 10px;
  }
  .post-comments-message {
    float: left;
    margin: 7px 7px 3px 20px;
    color: green !important;
    font-weight: bold;
    margin-top: 2%;
    display: none;
  }
  .post-comments-error-message {
    float: left;
    margin: 7px 7px 3px 20px;
    color: red !important;
    font-weight: bold;
    margin-top: 2%;
    display: none;
  }
  .item {
    padding: 10px 20px;
    position: relative;
  }
  
  .item:first-of-type {
    border-bottom: 1px solid #d3d3d3;
  }
  
  .infoRow {
    display: flex;
    align-items: baseline;
  }
  
  .infoRow-likedName {
    margin: 0 4px;
  }
  
  .infoRow-dotsMenu {
    display: block;
    line-height: 0rem;
    font-size: 2rem;
    align-self: start;
    margin-left: auto;
  }
  
  .profileInfo {
    display: flex;
  }
  
  .profileInfo-image {
    flex: 0 1 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: pink;
  }
  
  .profileInfo-text {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 10px;
  }
  
  .profileInfo-nth:before {
    content: " • ";
  }
  
  .profileInfo-textSection > p {
    margin-bottom: 1rem;
  }
  
  .profileInfo-more {
    display: inline;
  }
  
  .profileInfo-more:before {
    content: "\00a0";
    margin-left: 0.2rem;
  }
  
  .translationSection {
    display: flex;
    flex-direction: column;
    margin: 11px 0px 0px 0;
  }
  
  .translationSection-translation {
    margin: 0.5rem 0;
    color: #006097;
  }
  
  .userActionSection:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 2px;
    height: 1px;
    width: 410px;
    border-bottom: none;
  }
  
  .translationSection-likeIcon:before {
    content: " 👍 ";
  }
  
  .translationSection-heartIcon:before {
    content: " ❤️ ";
  }
  
  .translationSection-clapIcon:before {
    content: " 👏 ";
  }
  
  .translationSection-likeCount:after {
    content: " • ";
  }
  
  .userActionSection-icons {
    margin-right: 0.5rem;
  }
  
  .userActionSection-like:before {
    content: " 👍 ";
  }
  
  .userActionSection-comment:before {
    content: " 💬 ";
  }
  
  .userActionSection-share:before {
    content: " ↗️ ";
  }
  
  .font-bold {
    font-weight: bold;
  }
  .fa:hover {
    cursor: pointer;
  }
  .font-gray {
    color:lightslategrey;
  }
  .dark-color {
    color: #007bff !important;
  }
  .fa-thumbs-up {
    color: darkslategray;
  }
  .fa-thumbs-down {
    color:red !important;
  }

  .button{
    // width: 25% !important;
    padding: 4px 4px;
    background: #343a40 !important;
    border: 1px solid #343a40 !important;
    outline: none;
    border-radius: 10px;
    margin: 8px 10px 9px 70%;
    border: 2px solid !important;
  }
  .btn-secondary{
    color: black !important;
    background-color: white !important;
    border-color: #ced4da;
    width: 100%;
  }
  
  // Comments design
  detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
    // border: 1px solid;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:grid; //table-cell
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.comment-style {
  line-height: 1.42857;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
  font-weight: 600;
  color: rgba(0,0,0,.9);
  margin-left: 2%;
  font-size: 12px;
}
.comment-comments {
  line-height: 1.57143;
  color: rgba(0,0,0,.9);
  margin-left: 2%;
  font-size: 11px;
  margin-top: 2%;
}
.li-card-design {
  background-color: #f2f2f2;
  padding: 1%;
  border-radius: 0 12px 12px 12px;
}
.commenterImage img {
    width: 32px;
    height: 32px;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:8px;
    float: right;
    margin-top: 2%;
}
.actionBox {
    border-top:none;
    padding:10px;
}
.icon-design-edit-delete {
  background-color: white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  float: right;
  cursor: pointer;
}

// Popup
/* The actual popup */

.dropdown-content {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  float: right;
  margin-left: 46%;
  margin-top: 2%;
  background-color: #f2f2f2;
  padding: 1%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

  .dropdown-content span:hover {
    background-color: #ddd;
  }

// .material-icons:hover {
//   .dropdown-content {
//     display: block;
//   }
// } 

// .icon-design-edit-delete:hover .dropbtn {background-color: #3e8e41;}