<div class="container">
  <div class="module post-feed">
    <textarea class="textarea-post-article" rows='1' placeholder='Write a post...' [(ngModel)]="articledesc"></textarea>
  </div>
  <hr />
  <div class="form-group same-line-text">
    <button type="submit" (click)="createPost()" id="button" class="btn btn-primary button">Create Post</button>
    <small id="articlepublished" class="form-text text-muted" style="float: left;margin-top: 2%;margin-left: 4%;color: green !important;font-weight: bold;display: none;">Article published successfully</small> 
    <small id="articlenotpublished" class="form-text text-muted" style="float: left;margin-top: 2%;margin-left: 4%;color:red !important;font-weight: bold;display: none;">Error, All filed are mandatory</small> 
  </div>  
  <!-- <div class="form-group same-line-text">
    
  </div> -->
  
</div>
<div class="container" *ngFor="let item of this.articleDetails;">
  <!-- <div class="item infoRow">
    <div class='infoRow-Item infoRow-likedName font-bold'>John Snow</div>
    <div class='infoRow-Item, font-gray'>likes this</div>
    <div class="infoRow-Item infoRow-dotsMenu">...</div>
  </div> -->
  <div class="item">
    <div class='profileInfo'>
      <div class='profileInfo-image'>
        <img class='profile-img' src="{{item.profileurl}}" (error)="onImgError()">
      </div>
      <div class='profileInfo-text'>
        <div>
          <span style="font-weight: bold;">{{item.name}}</span>
          <i class="material-icons icon-design-edit-delete" *ngIf="item.isOwnsPost" (mouseenter)="showDropdownEditDeleteConfig(item, 'main')">more_horiz</i>
          <!-- Dropdown of Edit and Delete -->
          <div class="dropdown-content-{{item._id}}">
            <span class="design-e-{{item._id}}" (click)="editMainCommentsPost(item)" (mouseenter)="showHoverEditEnter(item)" (mouseleave)="showHoverEditExit(item)" style="display: none;cursor: pointer;">Edit</span>
            <span class="design-d-{{item._id}}" (click)="deleteMainCommentsPost(item)" (mouseenter)="showHoverEnterDelete(item)" (mouseleave)="showHoverExitDelete(item)" style="display: none;cursor: pointer;">Delete</span>
          </div>
          <!-- Dropdown of Edit and Delete -->
        </div>
        <div>
          <span class='font-gray'>{{item.headline}}</span>
        </div>
        <div>
          <!-- <span class='font-gray'>{{item.updatedDate | date:'dd-MM-yyyy hh:mm a':'+0530'}}</span> -->
          <span class='font-gray'>{{item.updatedDate | date: 'EEEE, MMMM d, y, h:mm a' }}</span>
        </div>
      </div>
    </div>
    <div class='profileInfo-textSection'>
      <p class="item-data-{{item._id}}">{{item.articledesc}}</p>
      <!-- Edit Post Text Area -->
      <form class="form-inline" role="form" id="edit-post-{{item._id}}" style="display: none;">
        <div class="form-group">
            <!-- <input class="form-control" type="text" placeholder="Your comments" /> -->
            <textarea class="textarea-main-comments" id="content-text-{{item._id}}" rows='1' placeholder='Your comments'></textarea>
        </div>
        <div class="form-group">
            <small id="comment-text-{{item._id}}" class="form-text text-muted post-headline-comments-message">Posted!</small> 
            <small id="error-text-{{item._id}}" class="form-text text-muted post-headline-comments-error-message">Error!</small> 
            <button id="edit-comments-{{item._id}}" class="btn btn-default post-headline-comments" (click)="updateComments(item)">Update</button>
        </div>
      </form>
      <!-- Edit Post Text Area -->
    </div>
    <div class='translationSection'>
      <!-- <span class='translationSection-translation font-bold'>See translation</span> -->
      <span>
        <span class='translationSection-likeIcon'></span>
        <span class='translationSection-heartIcon'></span>
        <span class='translationSection-clapIcon'></span>
        <span class='translationSection-likeCount'>{{item.totalLike}}</span>
        <span>{{item.comments.length}} comments</span>
      </span>
    </div>
  </div>
  <div class="item">
    <div class='userActionSection'>
      <!-- Like comment and Share -->
      <i id="{{item._id}}" *ngIf="item.userReaction" (click)="captureUserReaction(item)" class="fa fa-thumbs-up font-bold dark-color"> Liked</i>
      <i id="{{item._id}}" *ngIf="item.userReaction===false" (click)="captureUserReaction(item)" class="fa fa-thumbs-down font-bold dark-color"> Disliked</i>
      <i id="{{item._id}}" *ngIf="item.userReaction===undefined" (click)="captureUserReaction(item)" class="fa fa-thumbs-up font-bold font-gray"> Like</i>
      <i class="fa fa-comment font-bold font-gray" (click)="showCommentsPanel(item)" style="padding-left: 2%;"> Comment</i>
      <!-- <span class='userActionSection-icons userActionSection-share font-bold font-gray'>Share</span> -->

      <!-- Like comment and Share -->
      <div class="row discuss" id="comment-box-state-{{item._id}}" style="display: none;">
        <div class="col">
          <!-- <disqus [identifier]="item.pageUrl" [url]="item.pageUrl" [category]="item._id"  async></disqus> -->
          <!-- Custom Discussion Form -->
          <div class="detailBox">
              <div class="actionBox">
                  <ul class="commentList" *ngFor="let comment of item.comments;">
                      <li class="li-card-design">
                          <div class="commenterImage">
                            <img src="{{comment.profileurl}}" />
                          </div>
                          <div class="commentText">
                              <div class="comment-style" >{{comment.name}}
                                <i class="material-icons icon-design-edit-delete" *ngIf="comment.isOwnsPost" (mouseenter)="showDropdownEditDeleteConfig(comment, 'sub')">more_horiz</i>
                                <!-- Dropdown of Edit and Delete -->
                                <div class="dropdown-content-{{comment._id}}">
                                  <!-- <span class="design-e-{{comment._id}}" (mouseenter)="showHoverEditEnter(comment)" (mouseleave)="showHoverEditExit(comment)" style="display: none;">Edit</span> -->
                                  <span class="design-d-{{comment._id}}" (click)="deleteSubCommentsPost(comment)" (mouseenter)="showHoverEnterDelete(comment)" (mouseleave)="showHoverExitDelete(comment)" style="display: none;cursor: pointer;">Delete</span>
                                </div>
                                <!-- Dropdown of Edit and Delete -->
                              </div>
                              <div class="comment-comments" style="text-align:left;">{{comment.comments}}
                                <span class="date sub-text"> {{comment.updatedDate | date: 'MMMM d, y' }}</span>
                              </div>
                              <!-- <p class="comment-comments" style="text-align:left;width:100%">{{comment.comments}}</p>  -->
                              
                          </div>  
                      </li>
                  </ul>
                  <form class="form-inline" role="form">
                      <div class="form-group">
                          <!-- <input class="form-control" type="text" placeholder="Your comments" /> -->
                          <textarea class="textarea-comments" id="content-id-{{item._id}}" rows='1' placeholder='Your comments'></textarea>
                      </div>
                      <div class="form-group">
                          <small id="comment-id-{{item._id}}" class="form-text text-muted post-comments-message">Posted!</small> 
                          <small id="error-id-{{item._id}}" class="form-text text-muted post-comments-error-message">Error!</small> 
                          <button id="post-comments-{{item._id}}" class="btn btn-default post-comments" (click)="postComments(item)" style="margin-left:10%">Add</button>
                      </div>
                  </form>
              </div>
          </div>
          <!-- Custom Discussion Form -->
        </div>
      </div>
    </div>
  </div>
</div>