/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/theming";

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$custom-typography: mat-typography-config(
  $font-family: "Ubuntu, monospace"
);
@include angular-material-typography($custom-typography);

body {
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  width: 100%;
}

html {
  height: 100vh;
  font-size: 14px;
}

nav {
  color: #000;
}

// table {
//   width: 100%;
//   table-layout: fixed;
// }

// th, td {
  // overflow: hidden;
  // width: 200px;
  // text-overflow: ellipsis;
  // white-space: nowrap;
// }

.action-icon{
  font-size: 17px !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow-x: hidden;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.dropdown-toggle::after {
  vertical-align: 0.145em;
}

$primary1: #4a4a4a;
$primary2: #008489;
$primary3: #e6e6e6;
$primary4: #333333;

// mat styles overide
.cdk-overlay-backdrop {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1 !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #9f9ea0;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #343a40;
}

.mat-slide-toggle-content {
  font-size: 13px;
  font-family: Ubuntu;
}

.mat-custom-menu {
  margin-top: 10px;
  max-width: 680px !important;
  width: 46rem;
  border-radius: 4px !important;
  border: 1px solid $primary3;
  padding: 9px;
  box-shadow: none;
}

.mat-slide-toggle-thumb-container {
  z-index: 0 !important;
}

.mat-menu-panel.mat-custom-menu {
  overflow: hidden;
  height: 325px;
}

.mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}

.mat-checkbox-layout {
  margin-bottom: 0px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary2;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: none !important;
}

.ngx-pagination a {
  border-radius: 50px !important;
  color: #00b5b8 !important;
}

.ngx-pagination a:hover {
  background-color: #00b5b8;
  text-decoration: none;
}

.ngx-pagination li {
  border-radius: 50px !important;
  margin-right: 30px !important;
}

.ngx-pagination .current {
  background-color: #00b5b8 !important;
}

.ngx-pagination li:last-child,
.ngx-pagination li:first-child {
  border: 1px solid #00b5b8;
}

.tableHeader .mat-sort-header-container {
  justify-content: center !important;
  padding: 0px 10px !important;
}

.tableHeader .mat-sort-header-container {
  justify-content: center !important;
  padding: 0px 10px !important;
}
